html, body, .container, .row{
  height: 100%;
  width: 100%;
  font-family: 'Baloo Bhai', cursive;
}

.sideBar, .mapContainer {
  height: 100%;
}

.mapContainer {
  background-color: gray;
}
#map {
  height: 100%;
}

.sideBar {
  font-size: 1.3em;
  background-color: beige;
  overflow: scroll;
}

#showOptions {
  visibility: hidden;
  position: absolute;
  left: 100vw;
  transform: translateX(-100%);
  top: 0px;
  width: 150px;
  height: 70px;
  z-index: 4;
}

@media only screen and (max-width: 990px) {
  .sideBar {
    width: 300px;
    position:absolute;
    top: 0;
    left: -300px;
    z-index: 3;
  }

  #showOptions{
    visibility: visible;
  }
  .visibleSideBar {
    transform: translateX(300px);
  }
}


button , .button {
	-moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
	-webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
	box-shadow:inset 0px 34px 0px -15px #b54b3a;
	background-color:#a73f2d;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}
button, .button:hover {
	background-color:#b34332;
}
button, .button:active {
	position:relative;
	top:1px;
}
